@define-color foreground #c0caf5;
@define-color background #1a1b26;


@define-color subtle #545c7e;
@define-color surface #15161e;


@define-color red #f7768e;
@define-color red-surface #2F212F;

@define-color pine #7aa2f7;
@define-color pine-surface #232539;

@define-color yellow #e0af68;
@define-color blue #7aa2f7;
@define-color magenta #bb9af7;

* {
  all:unset;
  font-family: "Mononoki Nerd Font Propo";
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  color: @foreground;
  background: @surface;
}

tooltip {
    border-radius: 10px;
    color: @foreground;
    background: @background;
}

tooltip label {
    color: @foreground;
}

#workspaces {
  /* margin: 0px 10px; */
  /* border-radius: 8px; */
}
/* Workspaces */
#workspaces button {
    border-radius: 10px;
    margin: 6px 3px;
    padding: 4px 12px;
    color: @subtle;
    background: @background;
    border-color: @background;
    border-style: solid;
    /* border-radius: 8px; */
    transition: all 0.2s ease;
}

#workspaces button.active {
    color: @blue;
}

#workspaces button.focused {
    color: @blue;
}

#workspaces button.empty:not(.focused):not(.active) {
    color: transparent;
}

#workspaces button.empty.active {
    color: @red;
}
/* Clock */

#window,
#clock,
#memory, 
#cpu, 
#disk,
#custom-power,
#pulseaudio,
#network,
#temperature,
#battery,
#bluetooth,
#custom-utils-icon,
#custom-stats-icon,
#backlight{
    border-radius: 10px;
    margin: 6px 6px;
    padding: 4px 6px;
    color: @subtle;
    background: @background;
}

#clock{
    border-radius: 10px;
    margin: 6px 6px;
    padding: 4px 6px;
    color: @red;
    background: @red-surface;
}

#custom-power{
    border-radius: 10px;
    margin: 6px 6px;
    padding: 4px 6px;
    color: @pine;
    background: @pine-surface;
}
